.products-page .hero {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products-page .hero h1 {
    color: var(--color-primary);
    font-size: 15vw;
    text-align: center;
    margin: 0;
    animation: oscillate 0.5s ease-in-out infinite;
}

@keyframes oscillate {
    from {
        opacity: 0;
    }
50% {
    opacity: 1;
}
    to {
        opacity: 0;
    }
}

.products-page .hero h3 {
    background-color: black;
    color: var(--color-primary);
    font-size: 5vw;
    margin: 0;
}



.products-page .products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: calc(10px + 1vw);
    padding: calc(50px + 5vw);
    background-color: #f5f5f5;
}

.products-page .product-card {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    flex-direction: column;
}

.products-page .product-card .row {
    display: flex;
    justify-content: space-between;
}

.products-page .product-card .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.products-page .product-card .is-saved {
    border: none;
    outline:none;
    background-color: transparent;
    margin-left: auto;
    cursor: pointer;
}

.products-page .product-card .name {
    color: black;
    font-size: 13px;
    margin: 0;
}

.products-page .product-card .description {
    color: black;
    font-size: 1vw;
    margin: 0;
}

.products-page .product-card .price {
    color: #551111;
    margin: 0;
}

.products-page .product-card .add-to-cart {
    background-color: #66e36f;
    color: black;
    border: none;
    outline:none;
    border-radius: 5px;
    padding: 10px;
    font-weight: 800;
    white-space: nowrap;
}