.services-page {
    background-color: var(--color-surface);
    margin: 10%;
}

@media (max-width: 800px) {
    .page.services-page {
        margin: 0;
        border: none;
        border-radius: 0;
    }
}